*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(219, 214, 204);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.valcard{
    background-color:rgb(226, 223, 216);
    background-repeat: no-repeat;
    width: 40%;
    height:fit-content;
    
    box-shadow: 0px 20px 15px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
@media (max-width:900px) {
    .valcard{
        width: 80%;
    }
    .valcard2{
      width: 80%
    }
}
.teddy{
 /* box-shadow: 0px 2px 5px; */
 height: fit-content;
 margin-top: 19px;
 margin-bottom: 10px;
 animation: jump 2s ease-in-out alternate infinite;
 background: transparent;
}
@keyframes jump {
 100%{
    transform: scale(1.1);
 }
 
}
h2{
    font-style: oblique;
    text-align: center;

}
button{
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.button1{
    background-color: red;
    width: 150px;
}
.button2{
    background-color: rgb(121, 117, 117);
    width: 90px;
}

.teddy2{
 height: fit-content;
 margin-top: 19px;
 margin: 10px;
 animation: jump 2s ease-in-out alternate infinite;
 background: transparent;
}
.valcard2{
    background-color: wheat;
    background-repeat: no-repeat;
    width: 80%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
