*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(219, 214, 204);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.valcard{
    background-color:rgb(226, 223, 216);
    background-repeat: no-repeat;
    width: 40%;
    height:fit-content;
    
    box-shadow: 0px 20px 15px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
@media (max-width:900px) {
    .valcard{
        width: 80%;
    }
    .valcard2{
      width: 80%
    }
}
.teddy{
 /* box-shadow: 0px 2px 5px; */
 height: fit-content;
 margin-top: 19px;
 margin-bottom: 10px;
 animation: jump 2s ease-in-out alternate infinite;
 background: transparent;
}
@keyframes jump {
 100%{
    transform: scale(1.1);
 }
 
}
h2{
    font-style: oblique;
    text-align: center;

}
button{
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.button1{
    background-color: red;
    width: 150px;
}
.button2{
    background-color: rgb(121, 117, 117);
    width: 90px;
}

.teddy2{
 height: fit-content;
 margin-top: 19px;
 margin: 10px;
 animation: bounce 1s ease-in-out alternate infinite;
 background: transparent;
}
@keyframes bounce {
   0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, -12px); /* up */
  }

  /* 40% {
    transform: translate(10px, 0);
  } */

  60% {
    transform: translate(0, 15px); /* down */
  }

  /* 80% {
    transform: translate(-10px, 0); 
  } */

  100% {
    transform: translate(0, 0); /* back to center */
  }
}
.valcard2{
    background-color:rgb(246,232,219);
    background-repeat: no-repeat;
    width: 80%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
.reply{
  background-color: peachpuff;
}
#number{
  background-color: inherit;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px;
  margin: 15px;
  padding: 10px;
  width: 100%;
}
